<div>
	
</div>

<ul class="collection with-header">
    <li class="collection-header"><h4>Personal details</h4></li>
    <li class="collection-item"><%=@user.username %></li>
    <li class="collection-item"><%=@user.forename %></li>
    <li class="collection-item"><%=@user.surname %></li>
    <li class="collection-item"><%=@user.email %></li>
    <li class="collection-item"><%=@user.profession %></li>
 </ul>	